html,
body {
    margin: 0;
    padding: 2.5em;
}

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 6px 6px 0 0;
    min-height: 50vh;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)
 
}
.header{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#e2dedb, #d9d4d0);
    border: 1px solid lightgray;
     padding:.25em;
    border-radius: 6px 6px 0 0;
}

.header-left {
    display: flex;
    gap: .25em;
}

.route {

    background-color: #f7f7f7;
    padding: 6px 10px;
    margin:3px;
    
    text-decoration: none;
    font-weight: bolder;
    color: black;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px lightgray;
}
.content{
    flex-grow: 1;
}
footer{
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
}
