.main {
  max-width: 1000px;
  margin: 0px auto 0px auto;
  background: white;
  height: auto;
  border: 2px solid black;
}

.logo {
    padding: 20px;
}

.header {
  background: #eeeeee;
  min-height: 100px;
}

.menu {
  background: red;
  text-align: center;
}

body {
  background: #f9f8f6;
  color: black;
}

footer {
  font-size: 80%;
  min-height: 100px;
  padding: 20px;
  color: black;
  background: #aeaca8;
  text-align: center;
  border-top: 1px solid black;
}

.navbar {
  background: #aeaca8;
  clear: both;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 30px;
  color: black;
  vertical-align: middle;
}

a {
  color: #6581de;
  text-decoration: none;
}

h1, h2, h3 h2 {
  font-weight: normal;
}

h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
}

h3 {
  margin: 0px 0px 10px 0px;
  color: #6581de;
}

nav li {
  display: inline;
}

article {
  clear: both;
  overflow: auto;
  max-width: 100%;
}

figure {
  float: left;
  max-width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}

img.medium {
  height: 250px;
}

img.small {
  height: 125px;
}

img.large {
  height: 500px;
}

.content {
  min-height: 350px;
  margin: 3%;
  background: white;
}

nav li a {
  color: black;
  font-weight: bold;
}

nav li a:hover, nav li a.current {
  color: gray;
  font-weight: bold;
}

